<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Campo-Santo</title>
</head>

<body>
    <div id="App">

        <div id="titulo">
                <h2>Contas</h2>
        </div>
        
        <div id="containerCards">

        
            <div class="cards">  

                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                            <!-- verde fechada, cinza aberta -->
                    </div>
                </div>

                <div id="topo">
                    <div class="tituloFatura">Pós-Graduação</div>
                    <div class="vencimento">venc. 06 abr</div>
                </div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>


                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <!-- <div id="upload" class="upload">
                        <img id="iconClip" src="img/grampo.png" alt="grampo/clips/anexar">
                        Anexar comprovante
                    </div> -->
                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">
                        <img id="iconComprovante" src="img/licenciamento.png" alt="comprovante">
                        Ver comprovante
                    </div>
                </div>

            </div>

            <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

            <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Internet</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

                        <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

                        <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

                        <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

                        <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

                        <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

                        <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>

                        <div class="cards">  
                <div id="statusFatura">
                    <div class="sinalizacaoStatus">
                        <!-- verde fechada, cinza aberta -->
                    </div>
                    <div class="tituloFatura">Cartão Nu</div>
                </div>

                <div class="vencimento">venc. 06 abr</div>

                <div id="valor">
                    <div class="tituloValor">valor total</div>
                    <div class="valorFatura">R$ 80.35</div>
                </div>

                <div id="comprovante">
                    <!-- se não houver nada anexado -->
                    <div id="upload" class="upload">Anexar comprovante</div>

                    <!-- se houver algo anexado -->
                    <div id="donwload" class="donwload">Ver comprovante</div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>